*{
    margin: 0;
    padding: 0;
}
body{
    margin: 3em auto;
    width: 90%;
    max-width: 1200px;
    box-shadow: 8px 8px 8px black;
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    font-size: 20px;
}
.container{
    background-color: rgba(186, 172, 152, 0.9);
}
span{
    font-size: 50px;
    color: saddlebrown;
}

table{
    width: 80%;
}
th{
    height: 20px;
    padding: 0.5em;
}
td{
    height: 20px;
    padding: 0.5em;
}
#estudios li, #idiomas li, #otrosdatos li{
    list-style-type: circle;
    list-style-position: inside;
}
#nombreyfoto,#datospersonales, #objetivo, #estudios, #experienciaprofesional, #idiomas, #otrosdatos{
    padding: 0.5em;
}

#nombreyfoto h1 img{
    
    border-radius: 35%;
   
}